<h1>SCALE LIBRARY</h1>

<div class="container">
  <%=content_tag :div, class: ["scales_menu"] do%>
    <%@types.each do |type|%>
      <%=content_tag :div, class: ["scale_type"], id: ["#{type}"] do%>
        <h2><%=type%></h2>
        <%of_type(@scales, type).each do |s|%>
          <p><%=li_for_scale(s)%></p>
        <%end%> <!-- of_type.each -->
      <%end%> <!-- scale_type -->
    <%end%> <!-- types.each -->
  <%end%> <!-- scales_menu -->

  <div class="scales_index_sidebar">
    <%=content_tag(:button, link_to("Add a new scale!", new_scale_path), class: ["add_scale"])%>
    <%= render :partial => 'form', locals: {submit_text: "Create"} %>
  </div>
</div> <!-- container -->
