<h1><%=@scale.name.titleize%></h1>


<script>
  var values = <%=@midi_notes%>;
</script>


<h3><input type="checkbox" class="checkbox"> Playback Scale</h3>


<div class="sequencer">
  <%@midi_notes.each.with_index(1) do |value, i|%>
    <div class="pitch" id="pitch_<%=i%>" style="background-color: #F<%=value*26%>0"><%=Note.find_by(midi_value: value).name.split("/").first%></div>
  <%end%>
</div>

<p>Melody Rules: <%=@scale.melody_rules%></p>
<p>Origin: <%=@scale.origin%></p>
<p>Scale Type: <%=@scale.scale_type%></p>


<%=form_tag("/scales/#{@scale.name}/change_root") do%>
  <%=select_tag :root, options_from_collection_for_select(@roots, :midi_value, :name)%><br>

  <%=submit_tag "Change root"%>
<%end%>

<%=form_for(@practise) do |f|%>
  <%=f.hidden_field :scale_id%>
  <%=f.submit "Practised!"%>
<%end%>

<%=content_tag(:p, link_to("Edit this scale", edit_scale_path(@scale)))%>
<%=form_for(@scale, :html => {:method => :delete}) do |f|%>
  <%=f.submit "Delete this scale"%>
<%end%>
