<script> var values = <%=@midi_notes%> </script>

<%=scale_title(@scale)%>

<%=ownership(@owner)%>


<h3><input type="checkbox" class="checkbox"> Playback Scale</h3>


<%=content_tag :div, nil, class: ["sequencer"] do%>
  <%@midi_notes.each.with_index(1) do |value, i|%>
    <%=div_for_sequencer(value, i)%>
    <%=div_for_alt_pitch(value, i)%>
  <%end%> <!-- midi_notes.each -->
<%end%> <!-- sequencer -->

<%=content_tag :div, scale_info(@scale), id: ["scale_info"]%>

<%=form_tag("/scales/#{@scale.slugify}/change_root") do%>
  <%=select_tag :root, options_from_collection_for_select(@roots, :solfege, :name, selected: "do")%><br>
  <%=submit_tag "Change root"%>
<%end%>

<!-- User experience with scale -->
<%=easy_read(@your_practise)%>
<%=your_experience(@your_practise)%>

<!-- New practice -->
<%=content_tag :div, nil, class: ["form new_practise_form"] do %>
  <%=form_for(@practise) do |f|%>
    <%=f.hidden_field :scale_id%>
    <%=f.submit "Practised!"%>
  <%end%>
<%end%>

<%=content_tag(:p, link_to("Edit this scale", "/scales/#{@scale.slugify}/edit")) if your_scale(@owner)%>

<!-- Delete scale -->
<%=content_tag :div, delete_scale_form(@scale, @owner), class: ["form delete_scale_form"]%>
