<h1><%=@scale.name.titleize%></h1>


<script>
  var values = <%=@midi_notes%>;
</script>


<h3><input type="checkbox" class="checkbox"> Playback Scale</h3>


<div class="sequencer">
  <%@midi_notes.each.with_index(1) do |value, i|%>
    <div class="pitch" id="pitch_<%=i%>" style="background-color: #F<%=value*26%>0"><%=Note.find_by(midi_value: value).name.split("/").first%></div>
  <%end%>
</div>


<%=form_tag("/scales/#{@scale.name}") do%>
  <%=select_tag :root, options_from_collection_for_select(@roots, :midi_value, :name)%><br>

  <%=submit_tag "Change root"%>
<%end%>
