<h1>Register</h1>


<div class="fb-login-button" data-max-rows="1" data-size="large" data-button-type="continue_with" data-show-faces="false" data-auto-logout-link="false" data-use-continue-as="true"></div>


<%= render :partial => 'layouts/errors', locals: {obj: @user} %>


<p>Or to make an account especially with us, signup right here!</p>
<%=form_for(@user) do |f|%>
  <%=f.label :name%>
  <%=f.text_field :name%>

  <%=f.label :email%>
  <%=f.text_field :email%>

  <%=f.label :password%>
  <%=f.password_field :password%>

  <%=f.label :password_confirmation%>
  <%=f.password_field :password_confirmation%>

  <%=submit_tag "Signup"%>
<%end%>
