<h1>Register</h1>

<%=link_to "Signup with Facebook", '/auth/facebook'%>

<%= render :partial => 'layouts/errors', locals: {obj: @user} %>


<p>Or to make an account especially with us, signup right here!</p>
<%=form_for(@user) do |f|%>
  <%=f.label :name%>
  <%=f.text_field :name%>

  <%=f.label :email%>
  <%=f.text_field :email%>

  <%=f.label :password%>
  <%=f.password_field :password%>

  <%=f.label :password_confirmation%>
  <%=f.password_field :password_confirmation%>

  <%=submit_tag "Signup"%>
<%end%>
