  <form class="scale" id="scale" action="{{action}}">
  {{#with scale}}
    <div class="upper_form">
      <div class="pattern_checkboxes">
        <input type="hidden" name="scale[pattern][]" value="">
        <input type="checkbox" value="60" name="scale[pattern][]" id="scale_pattern_60">
        <label for="scale_pattern_60">do</label>
        <input type="checkbox" value="61" name="scale[pattern][]" id="scale_pattern_61">
        <label for="scale_pattern_61">rah-di</label>
        <input type="checkbox" value="62" name="scale[pattern][]" id="scale_pattern_62">
        <label for="scale_pattern_62">re</label>
        <input type="checkbox" value="63" name="scale[pattern][]" id="scale_pattern_63">
        <label for="scale_pattern_63">me-ri</label>
        <input type="checkbox" value="64" name="scale[pattern][]" id="scale_pattern_64">
        <label for="scale_pattern_64">mi</label>
        <input type="checkbox" value="65" name="scale[pattern][]" id="scale_pattern_65">
        <label for="scale_pattern_65">fa</label>
        <input type="checkbox" value="66" name="scale[pattern][]" id="scale_pattern_66">
        <label for="scale_pattern_66">se-fi</label>
        <input type="checkbox" value="67" name="scale[pattern][]" id="scale_pattern_67">
        <label for="scale_pattern_67">so</label>
        <input type="checkbox" value="68" name="scale[pattern][]" id="scale_pattern_68">
        <label for="scale_pattern_68">le-si</label>
        <input type="checkbox" value="69" name="scale[pattern][]" id="scale_pattern_69">
        <label for="scale_pattern_69">la</label>
        <input type="checkbox" value="70" name="scale[pattern][]" id="scale_pattern_70">
        <label for="scale_pattern_70">te-li</label>
        <input type="checkbox" value="71" name="scale[pattern][]" id="scale_pattern_71">
        <label for="scale_pattern_71">ti</label>
      </div>
      <div class="form_col_2">
        <label for="name">Name</label><br>
        <input type="text" name="scale[name]" value={{name}}>
        <br></br>
        <label for="scaleType">Type</label><br>
        <input type="text" name="scale[scale_type]" value={{scaleType}}>
        <br></br>
        <label for="origin">Origin</label><br>
        <input type="text" name="scale[origin]" value={{origin}}>
        <br></br>
        <label for="melodyRules">Melody Rules</label><br>
        <input type="text" name="scale[melody_rules]" value={{{melodyRules}}}>
        <br></br>
        <label for="aka">Also Known As</label><br>
        <input type="text" name="scale[aka]" value={{aka}}>
        <br></br>
        <label for="scale_private">Would you like to keep this scale private?</label> <br>
        <input name="scale[private]" type="hidden" value="0"><input type="checkbox" value="1" checked="checked" name="scale[private]" id="scale_private"> <br>
        <br>
      </div>
    </div> <!-- upper form -->
    <br>
  {{/with}}
    <input type="hidden" value="{{musician_id}}" name="musician[id]" id="musician_id">
    <input type="submit" id="submit_scale" value="Do it!">
</div>
