<!-- <script> var values = {{midi_notes}} </script> -->

<!-- <h3><input type="checkbox" class="audio_trigger"> Listen to Scale</h3>
(if scale does not play, try refreshing the page!) -->

<div class="sequencer">
  {{#each midi_notes}}
    <div class="div_for_sequencer">
      <div class="pitch" id="pitch_{{@index}}", style="background-color: pink">
        {{this}}
      </div>
    </div>
  {{/each}}
</div>

<br></br>

<div class="scale_info">
  {{#with scale}}
    <p>Melody Rules: {{melodyRules}}</p><br>
    <p>Origin: {{origin}}</p><br>
    <p>Type: {{scaleType}}</p>
    {{#if aka}}
      <br>
      <p>Also known as: {{aka}}</p>
    {{/if}}
  {{/with}}
</div>
