
Hello?
<div class="form">

    <div class="upper_form">
      <div class="pattern_checkboxes">
        <!-- <%=f.label :pattern%><br> -->
        checkboxes here
      </div>
      <div class="form_col_2">
        <input type="label" name="name">Name</input><br>
        <input type="text" name="name" value={{name}}>
        <br>
        <input type="label" name="name">Type</input><br>
        <input type="text" name="name" value={{scaleType}}>
        <br>
        <input type="label" name="name">Origin</input><br>
        <input type="text" name="name" value={{origin}}>
        <br>
        <input type="label" name="name">Melody Rules</input><br>
        <input type="text" name="name" value={{melodyRules}}>
        <br>
        <input type="label" name="name">Also known as</input><br>
        <input type="text" name="name" value={{aka}}>
        <br>
        private checkbox here
        <br>
      </div>
    </div> <!-- upper form -->
    <br>
    <input type="submit">
</div>
