<!DOCTYPE html>
<html>
  <head>
    <title>ScaleThis</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="navbar">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="<%= root_url %>"/>Home</a>
          <%if current_user%>
            <%=link_to "Your Practice Room", practice_room_path(current_user.slugify), class: "navbar-brand"%>
            <%=link_to "Scales Library", scales_path, class: "navbar-brand"%>
            <%=link_to "Log Out", logout_path, class: "navbar-brand"%>
          <%else%>
            <%=link_to "Sign Up", new_musician_path, class: "navbar-brand"%>
            <%=link_to "Sign In", login_path, class: "navbar-brand"%>
          <%end%>
        </div>
      </div>
    </div>

    <%= yield %>
  </body>
</html>
